.list{
    margin: 10px 0px;
    text-align: start;
}
.t-yellow{
    color: yellow;
}
.ul-list{
    list-style: none;
}
.ul-list li{
    margin-bottom: 20px;;
}
.ul-list li::before{
    content: '✅  ';
}
.benefits{
    padding-left: 13%;
}
.benefits > div{
    margin: 30px 0 20px 50px;
}
.logo{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.certificate{
    height: 400px;
    width: 40%;
}
img{
    height: 100%;
    width: 100%;
}
.review video{
    height: 180px;
    width: 250px;
}
.t-black{
    color: black;
}
.toggle{
    width: 100%;
    max-height: 0px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    background-color: white;
    border-radius: 0px 0px 2px 2px;
}
.open{
    max-height: 200px;
    padding: 5px;
}
.bg-gray{
    background-color: rgb(243, 243, 243);
}

.zoom-animation{
    animation: zoom 2s infinite;
}
@keyframes zoom {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.09,1.09);
    }
    100%{
        transform: scale(1,1);
    }
}
